langchain
openai
mlflow
numpy
pandas
torch
transformers
chromadb

pydantic
pydantic-settings
python-dotenv
fastapi
Celery
psycopg2-binary
psycopg2
MongoDB
PyMongo
SQLAlchemy
Alembic
Pandas
Instructor
pgvectorscale
langfuse
DSPy
PyMuPDF
PyPDF2
Docling
Jinja
uvicorn
redis
PyYAML
slowapi
prometheus_fastapi_instrumentator

httpx
mcp
structlog>=23.0.0
aiofiles
tqdm
typer
cryptography
jsonschema
